/*global*/
html {background-color: rgb(255, 250, 241);}

/*nav*/
.nav { background-color: rgba(255, 250, 241, 65%);}

.left-nav-link {color: rgb(25, 35, 42);}

.right-nav-link {color: rgb(63, 61, 61);}

.languages select{color:rgb(63, 61, 61);}

select:active, select:hover {color: rgb(158, 96, 77);}

.header-logo-title {color: rgb(255, 232, 195);}

.header-btn {
    border: 1px solid rgb(255, 232, 195);
    color: rgb(255, 232, 195);
}

.header-btn:hover {
    color: rgb(25, 35, 42);
    background-color: rgb(255, 232, 195);
}

/*header*/
.header {
    background-color: rgb(255, 250, 241);
    background-image: url(../img/img_header\ contact.png);
}

/*content*/
.main {
    padding: 0;
    max-width: 1260px;
    margin: 0 auto;
}

.main-title {
    display: flex;
    height: 115px;
    justify-content: center;
    align-items: center;
    font-size: 3.6em;
    color: rgb(25, 35, 42);
    font-family: 'Cormorant Garamond', "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

.content-container {
    margin: 0 auto 40px;
    width: 90%;
    background-color: rgb(25, 35, 42);
}

.content-title {
    font-size: 2.4em;
    color: rgb(255, 232, 195);
    font-family: 'Cormorant Garamond', "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 0;
}

/*form*/
.register {
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin: 0 auto 80px;
}

.label {
    display: block;
    color: rgb(255, 250, 241);
    font-size: 1.8em;
}

.input {
    color: rgb(255, 232, 195);
    font-size: 1.8em;
    background-color: transparent;
    border: none;
}

.block-name .input, .block-messages .input {width:80%;}

.input:focus {outline:none}

.input-container {
    margin: 0;
    width: 80%;
}

.block-name, .block-messages {
    margin-top: 50px;
    border-bottom: 1px solid rgb(255, 232, 195);
}

.input-container-inner {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
}

.block-phone {
    width: 50%;
    margin-right: 55px;
    border-bottom: 1px solid rgb(255, 232, 195);
}

.block-email {
    width: 50%;
    border-bottom: 1px solid rgb(255, 232, 195);
}


.send {
    align-self: flex-end;
    background-color: transparent;
    margin-left: 90px;
    border: 1px solid rgb(255, 232, 195);
    width: 147px;
    height: 47px;
    color: rgb(255, 232, 195);
    font-size: 1.8em;
}

.send:hover {
    background-color: rgb(255, 232, 195);
    color: rgb(25, 35, 42);
}

/*contact details*/
.details-container{
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    color: rgb(255, 250, 241);
    margin-top: 76px;
    margin-bottom: 80px;
}

.details-title {
    font-size: 1.8em;
    color: rgb(255, 250, 241);
}

.details-text {
    text-align: center;
    font-size: 1.2em;
    color: rgb(255, 250, 241);
}

.details-container-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

/*map*/
.map-img {
   margin: 5%;
   width: 90%;
   border: 4px solid rgb(255, 250, 241);
   opacity: 0.8;
}

.map-link:hover .map-img{
   opacity: 1;
}

/*footer*/
.footer {background-image: url(../img/img_footer\ contact.png);}

.footer-content{background-color: transparent;}
